
* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
  }
  body{
    background-image: url(bg1.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    font-family: "Montserrat", sans-serif;
    position: relative;
   
   
   }
.intro{
    display: flex;
    color: black;
    height: 100vh;
    margin-left: 400px;
    margin-top: 135px;
    position: absolute;
    text-transform: uppercase;
    font-style: bold;
    font-size: 35px;

}
.typing {
    margin-left: 10px;
    position: relative;
    color: rgb(220, 63, 63);
}

.typing::after{
    content: "";
    position: absolute;
    right: -10px;
    width: 2px;
    height: 10%;
    border-right: 2px solid black;
    animation: blink 0.5s infinite ease;
}
@keyframes blink{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.wrapper-wrk {
    margin-top: 300px;
    position: absolute;
    margin-left: 95px;
  



}