* {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
}
body{
 background-image: url(bg1.jpg);
 background-position: center center;
 background-size: cover;
 background-attachment: fixed;
 font-family: "Montserrat", sans-serif;
 position: relative;


}
.logo {
  float: center;
  color: black;
  padding: 3px 8px;
  margin-left: 60px;
  position: absolute;
  font-size:45px;
  font-style: italic;
}
#nav{
  position: relative;
  margin-top: 30px;
  margin-right: 30px;
}
#nav a{
  position: relative;
  color: black;
  font-size: 23px;
  text-decoration: none;
  margin-top: 22px;
  padding: 3px 30px;
  text-transform:none;
  float: right;
  letter-spacing: 0.5px;
  text-shadow: 1px 1px 2px rgba(87, 87, 87, 0.245);
  transition: 0.6s;
  border-radius: 50px;
}
#nav a::after {
  content: "";
  height: 3px;
  width: 0;
  background: rgb(33, 37, 39);
  position: absolute;
  left: 0;
  bottom: -18px;
  transition: 0.5s;
}
#nav a:hover::after {
  width: 100%;
}


.detail{
  margin-left: 450px;
  margin-top: 210px;
  position: absolute;
}

.detail h1{
  font-size: 70px;
  color: #212121;
  margin-bottom: 20px;

}
.detail p{
  color: #555;
  line-height: 25px;
  font-size: 20px;
}
span:hover {
  transition: 1s;
  color: #7ec0b9;

}

span{
  color: orange;

  
}
.box{
  width: 450px;
  background: rgba(0,0,0,0.4);
  padding: 40px;
  text-align: center;
  margin-left:490px;
  margin-top: 8%;
  color: white;
  font-family: "Montserrat", sans-serif;
  position: absolute;
  border-radius: 5%;
}
.box-img{
  border-radius: 50%;
  width: 200px;
  height: 200px;
}
.box h1 {
  font-size: 40px;
  letter-spacing: 4px;
  font-weight: 100;
}
.box h5 {
  font-size: 18px;
  letter-spacing: 3px;
  font-weight: 100;

}
.box p{
  text-align: justify;
  margin-top: 3px;
}
.fa {
  width: 25px;
  border-radius: 50%;
  margin-right: 45px;
}
.fa-facebook {
  background: white;
  color: rgb(5, 3, 169);
  transition: all 0.5s linear;
}

.fa-facebook:hover {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: white;
  color: white;
  opacity: 1px;
}
.fa-twitter:hover {
  background: #55ACEE;

}
.fa-instagram {
  background: rgb(255, 255, 255);
  color: rgb(5, 3, 169);
  transition: all 0.5s linear;
}

.fa-instagram:hover {
  background: #f09433; 
  background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
  background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
  background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
  color: white;
}
@keyframes transitionIn {
  from {
      opacity: 0;
      transform: rotateX(-10deg);
  }

  to {
      opacity: 1;
      transform: rotateX(0);
  }
}

.detail {
  animation: transitionIn 1.5s;
}

.box {
  animation: transitionIn 1.5s;
}

.intro {
  animation: transitionIn 1.5s;
}
.wrapper-wrk{
  animation: transitionIn 1.5s;
}

.intro{
  display: flex;
  color: black;
  height: 100vh;
  margin-left: 400px;
  margin-top: 135px;
  position: absolute;
  text-transform: uppercase;
  font-style: bold;
  font-size: 35px;

}
.typing {
  margin-left: 10px;
  position: relative;
  color: rgb(220, 63, 63);
}

.typing::after{
  content: "";
  position: absolute;
  right: -10px;
  width: 2px;
  height: 10%;
  border-right: 2px solid black;
  animation: blink 0.5s infinite ease;
}
@keyframes blink{
  0%{
      opacity: 0;
  }
  100%{
      opacity: 1;
  }
}
.wrapper-wrk {
  position: absolute;
  margin-top: 300px;
  margin-left: 100px;
  transition: 0.6s;
  animation:transitionIn 1s;

}.wrapper-wrk :hover{
  background-color: rgb(220, 63, 63);
  border: 12px solid rgba(71, 197, 138, 0);

}